# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# Poetry
poetry.lock

# FastAPI
*.db
*.sqlite3

# Tortoise ORM
*.migrations/
migrations/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Outros
*.log